.data-input{
    align-items: center;
    justify-content: center;
    width: 250px;
    height:35px;
    border-color: gray;
    border-radius: 4px;
}
.date{
    width: 50px;
    height: 25px;
    margin:5px;
}
.cadastro{
    position: relative;
    align-items: center;
    text-align: center;
}