.list{
    flex-direction: column;
    display: flex;
    justify-content:right;
    align-items:center;
    padding: 100px;
}
.audio{
    margin-top: 10px;
}
.albun-img{
    width: 234px; 
    height: 234px;
    padding: 2px 5px 12px 15px;
}